@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply p-0 m-0 font-nunito;
}
p,
li,
ul {
	@apply text-[#32325c];
}

a.active p,
a.active svg {
	@apply text-white;
}
.bg-gradient {
	background: rgb(66, 70, 179);
	background: linear-gradient(110deg, rgba(66, 70, 179, 1) 14%, rgba(45, 47, 122, 1) 100%);
}
.bg-gradient2 {
	background: rgb(66, 100, 213);
	background: linear-gradient(110deg, rgba(66, 100, 213, 1) 24%, rgba(79, 209, 197, 1) 95%);
}
